@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Modificado por Hector Betancourt</h4>
    <h5>para la clase de desarrollo de software en la Universidad de Granada</h5>
    <h6>Visita el código original en</h6>
    <a href="https://github.com/naadev/bdd.workshop">https://github.com/naadev/bdd.workshop</a>
    <p class="mt-4">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
