@{
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th class="p-2" scope="col">Number</th>
                    <th class="p-2" scope="col">Cube Root</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="p-2" id="theCubeNumber">@ViewData["Number"]</td>
                    <td class="p-2" id="theCubeResult">@ViewData["Result"]</td>
            </tbody>
        </table>
}
