@{
        <table class="table-bordered text-center">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Square Root</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="theNumber">@ViewData["Number"]</td>
                    <td id="theResult">@ViewData["Result"]</td>
            </tbody>
        </table>
}
