@{
    <table class="table-bordered">
        <thead>
            <tr>
                <th scope="col">Number</th>
                <th scope="col"></th>
                <th scope="col">Result</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="number">@ViewData["number"]</td>
                <td>=</td>
                <td id="result">@ViewData["result"]</td>
            </tr>
        </tbody>
    </table>
}
