body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    width: 220px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 20px auto;

}

.container {
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
}

.result-container {
    margin: 20px 0;
}

.btn {
    width: 50px;
    height: 50px;
    background-color: #333;
    color: white;
    border: 1px solid #777;
    border-radius: 10px;
    margin: 2px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #555;
}

.btn:nth-child(9) {
    grid-row: 5 / span 2;
}